    @font-face { font-family: 'HELVETINS'; src: url('/Publishing_Resources/font-awesome/fonts/UTM-HELVETINS.TTF') format('truetype'); font-weight: normal; font-style: normal;}
    body{font-family:'Arial','Times New Roman';font-size:14px;height: 100%; background:#dedede;}
    .login-box{width: 450px; margin:3% auto;}
    .div_login,.login-footer{clear:left; overflow: hidden; color:#fff; background: #0162a7; box-shadow: 1px 0 1em Gray; padding-bottom: 10px;}
    .login-box-body{ background: #fff;  padding: 20px; border-top: 0; color: #666;  box-shadow: 1px 0 1em Gray;clear:left; overflow: hidden; }
    .div_login p{margin:0px;}
    .logo-login{float:left;width:20%; text-align:center; padding-top:22px;}
    .logo-login img{ max-height:100%;}
    .baner-text{float:right; width:80%;}
    .text-logo{ padding-top: 22px; font-size: 27px; font-family: HELVETINS;}
    .txt-project{padding-top: 2px; font-size: 13px; padding-left: 12px;  font-family: times new roman;}
    .form-login { margin-left: 7px; margin-top: 25px; overflow: hidden;}
    .form-control{ border-color: #F1F3F8; background-color: #F1F3F8; height: 40px; color: #A6B2BA; font-size: 14px; width: 95%; padding: 8px 2% 6px; outline: none; border-radius: 4px; border: 1px solid #dbdbdb; -webkit-box-shadow: none; box-shadow: none; -webkit-transition: none;-o-transition: none; transition: none;}
    .login-button { float: right; margin-right: 7px;   margin-top: 18px;}
    .btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143;  text-align: center;  white-space: nowrap; vertical-align: middle;  -ms-touch-action: manipulation;  touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none;  -ms-user-select: none; user-select: none;  border: 1px solid transparent; border-radius: 4px;}
    .btn-primary{ background-color: #3c8dbc;  border-color: #367fa9;  color: #fff;}
    .btn-primary:hover, .btn-primary:active, .btn-primary.hover { background-color: #367fa9;}
    .login-hr { margin-top: 18px; border-top: 1px solid #dbdbdb; }
    #divThongBao {display: none;}
    .modal{background:none;}
    #Email,#txtCaptcha{height:42px;}
    #Email-error{border: none !important; color: red;}
    #lblEx{font-size:11px;}
    .txtboxCaptcha{float:left; width:38%;}
    .Captchabox{float:left;width:62%;}
    .Captchabox img{max-width:100%;}
    .divcapcha{float:left;width:89%;}
    .btnresetcaptch{float:right;width:10%}
    .btnresetcaptch img{cursor:pointer;}
    .login-footer{text-align:center; font-size: 12px;padding:8px 0px;}
    .login-footer p{margin:2px 0px;}
    .login-footer a{color:#fff;}
    .login-footer a:hover, .login-footer a:active { color: #ccc;}
    .sologin{text-transform:uppercase;}
    .clearfix a{text-decoration:none;}
    .modal-header{background:#0162a7;color:#fff;}
    #btnMessageClose{background:red;color:#fff;}
    #divChangePass{background:#fff;}
    .required{float:left;}
    .error{color:red;font-weight:500;float: left;}
    @media screen and (max-width:430px) {
     .login-box {width: 100%;}
     .text-logo{font-size:21px;}
    }