.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
        top: 119px !important;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.9;
        height: 10000px !important;
	filter: alpha(opacity = 90);
}