body { font:12px Helvetica, arial, sans-serif }
h1, h2, p { margin:10px 0 }
.hidden { visibility:hidden }


.message { padding:10px; margin:15px 0; display:block; text-align:left }
.message-title { font-weight:bold; font-size:1.25em }
.message-body { margin-top:4px }
.error, .notice, .success {margin-bottom:1em; }
.error { color:#8a1f11; border-color:#FBC2C4 }
.notice {  color:#514721; border-color:#FFD324 }
.success { color:#264409; border-color:#C6D880 }
.error a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }
input{
    min-width: 90px !important;
    width: 100%;
}
.col-md-2.add-remove.col-height.center.middle {
    position:  absolute;
    left: 50%;
    margin-left: -18px;
    top:  50%;
    margin-top: -15px;
    height:  auto !important;
    z-index:  999;
}
.nowrap {
    white-space: nowrap !important;
}