.container.padding0 {
    width: 936px;
}

ul #css3menu1 {
    min-height: 20px;
}

.table-bordered th {
    text-align: center;
    white-space: normal;
    vertical-align: middle !important;
}

body {
    font: 12px Helvetica, arial, sans-serif
}

h1, h2, p {
    margin: 10px 0
}

.hidden {
    visibility: hidden
}

.color_red {
    color: Red;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
    min-height: 90px !important;
}

.middle {
    vertical-align: middle;
}

.row-height.panel.panel-default {
    height: 100%;
    min-height: 100%;
}

.table-bordered>tbody>tr.header>td {
    vertical-align: middle;
    font-weight: bold;
}

text-left {
    text-align: left !important;
}

.trDanhSachChan input {
    width: 100%;
}

.panel-body.auto-scoll {
    
}

.panel-body.auto-scoll table {
    max-width: none;
    width: auto;
}

.panel-body.auto-scoll table th {
    white-space: nowrap;
}
@media(min-width:768px) {
    .form-horizontal.form-group.control-label {
        padding-top: 5px;
    }
    .form-horizontal.control-label {
        padding-top: 0px;
    }
}
input, select, textarea{
  width: 100%;
}
.trSelect{
  background-color: #ffffb5;
}
table.table.table-bordered tr td {
    vertical-align: middle;
}
.btn-group.bootstrap-select.disabled.form-control {
    border: solid 1px #ccc;
}
.btn-group.bootstrap-select.disabled.form-control .btn {
    border: none;
}
.red{
  color: Red;
}

.table.table-bordered tbody tr td {
    border-left: solid 1px #ddd !important;
}
.bootstrap-select .btn{
  font-size: 14px !important;
  padding: 2px 10px;
}
.form-control.selectpicker{
  z-index: -999;
}
.ui-datepicker{
  z-index: 9999 !important;
}
.btn-group.bootstrap-select.form-control{
  max-width: 300px;    
}
.btn-group.bootstrap-select.form-control .btn.dropdown-toggle.btn-default{
  padding-right: 25px;
  height:35px;
}
input.number{
    text-align: right; 
}
input.numberflat{
    text-align: right;
    border: none;
    padding: 2px 10px;
}
.scroll-y{
  overflow-y: scroll;
  margin-bottom: 20px;
}

.fix-phanquyen.panel.panel-default {
    border: solid 1px #ddd;
    margin-bottom:  20px;
    border-radius: 4px;
    padding-top:  15px;
}

.fix-phanquyen.panel.panel-default .col-md-12 .col-md-6 {
    border: solid 1px #ddd;
    margin-top:  15px;
    border-radius: 4px;
    width:  48%;
    margin-left:  2%;
    /* max-height:  300px; */
    overflow-y:  hidden;
    overflow-x: auto;
    margin-bottom:  15px;
}

.fix-phanquyen.panel.panel-default .col-md-12 .col-md-6:first-child {
    margin-left:  0;
    margin-right:  2%;
}
.fix-phanquyen.panel.panel-default > .panel-heading {
    margin-top:  -15px;
}

.fix-phannhom .form-group.col-sm-6 {
    border-radius: 4px;
    width: 48%;
    margin-left: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    /* margin-bottom: 0; */
    padding: 0px 16px 0px 0px;
}
.fix-phannhom .form-group.col-sm-6:first-child {
    margin-left: 0;
    margin-right: 2%;
    padding: 0px 0px 0px 16px;
}

.fix-phannhom {
    position: relative;
}
li.themmuiten {
    position: relative;
}
.fix-tablet-thead {
    position:  absolute;
    top:  0;
    overflow:  hidden;
}
.scroll-y {
    overflow-x:  hidden;
    max-height: 500px;
     width:  auto;
    display: block;
    float:  left;
    margin-bottom: 0;
}

.khung_scoll {
    overflow-y:  hidden;
    overflow-x:  scroll;
    position: relative;
    margin-bottom: 20px;
}
.scroll-gia {
    overflow-y: scroll;
    overflow-x: hidden;
    width:  17px;
    height:  100%;
    position: absolute;
    top:  0;
    bottom:  0;
    left: 100%;
    /*background:  #000;*/
    z-index:  999;
}
.panel-footer .pagination {
    margin: 0;
}
.panel-body {
    overflow: auto;
}
.no-scoll.panel-body {
    overflow: hidden;
}
ul.errorMessage {
    color: #f70000;
    font-size: 12pt;
}
a label:hover {
    cursor: inherit;
    text-decoration: underline;
}
td.right.width_90,td.width_90{
  min-width: 90px!important;
}
.width_160{
  min-width: 160px;
}